/* Plantilla tomada de Eevi Rutanen -Final project template, Aalto University */

html, body {
  margin: 0;
  padding: 0;
  background:black;
  color: white;
  font-family: sans-serif;
}
canvas {
  display: block;
}

#canvasContainer {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

#info{
  margin: 60px;
}

h1{
  font-weight: normal;
}

h2{
   font-weight: normal;
}

#return{
  color:white;
  font-size:20px;
  text-decoration:none;
}

#return:hover{
  color: #39FF14
}